<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->


    <!-- Website CSS style -->


    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" type="text/css" href="main.css"/>

    <title>Registration Page</title>
</head>
<body ng-app="app" ng-strict-di="ng-strict-di">
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Company Name</h1>
                <hr/>
            </div>
        </div>

        <div class="alert alert-danger" th:if="${loginExistsError}">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>


        <div class="alert alert-danger" th:if="${emailExistsError}">
            <strong>E-mail is already in use!</strong> Please choose another one.
        </div>


        <div class="main-login main-center">

            <form class="form-horizontal" th:action="@{/join}" th:object="${regForm}"  name="regForm" method="post">

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">


                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" th:field="*{email}" class="form-control" name="email" id="email"
                                   placeholder="Enter your Email"
                                   ng-minlength="5" ng-maxlength="100" ng-model="regForm.email" required="required"/>
                            <!--<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error message</td>-->
                            <div ng-show="regForm.email.$dirty and regForm.email.$invalid">
                                <p class="help-block"
                                   ng-show="regForm.email.$error.required">
                                    Your e-mail is required.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.email.$error.email">
                                    Your e-mail is invalid.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.email.$error.minlength">
                                    Your e-mail is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.email.$error.maxlength">
                                    Your e-mail cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="login" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" th:field="*{login}" class="form-control" name="login" id="login"
                                   placeholder="Enter your Username" required="required"/>
                            <!--<td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Username error message</td>-->

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" th:field="*{password}" class="form-control" name="password"
                                   id="password"
                                   placeholder="Enter your Password" required="required"/>
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error
                                message
                            </td>
                        </div>
                        <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                    </div>
                </div>

                <div class="form-group">
                    <label for="matchingPassword" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="matchingPassword" id="matchingPassword"
                                   placeholder="Confirm your Password" required="required"/>
                            <td th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">
                                Password error message
                            </td>
                        </div>
                    </div>
                </div>


                <button type="submit" ng-disabled="regForm.$invalid"
                        class="btn btn-primary btn-lg btn-block login-button">Register
                </button>
                <div class="login-register">
                    <a href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>