<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>

    <script src="/webjars/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/webjars/angularjs/1.5.8/angular-aria.js"></script>
    <script src="/webjars/angularjs/1.5.8/angular.js"></script>

    <script src="webjars/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>
    <!--<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->


    <!-- Website CSS style -->


    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

    <title>Registration Page</title>
</head>
<body ng-app="app">
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Company Name</h1>
                <hr/>
            </div>
        </div>

        <div class="alert alert-danger" th:if="${loginExistsError}">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>


        <div class="alert alert-danger" th:if="${emailExistsError}">
            <strong>E-mail is already in use!</strong> Please choose another one.
        </div>


        <div class="main-login main-center">

            <form class="form-horizontal" th:action="@{/join}" th:object="${regForm}" novalidate="novalidate" name="regForm" method="post">

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">


                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" th:field="*{email}" class="form-control" name="email" id="email"
                                   placeholder="Enter your Email"
                                    required="required"/>
                            <!--ng-minlength="5" ng-maxlength="100" ng-model="regForm.email"-->
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error message</td>
                            <!--<div ng-show="regForm.email.$dirty &amp;&amp; regForm.email.$invalid">
                                <p class="help-block"
                                   ng-show="regForm.email.$error.required">
                                    Your e-mail is required.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.email.$error.email">
                                    Your e-mail is invalid.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.email.$error.minlength">
                                    Your e-mail is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.email.$error.maxlength">
                                    Your e-mail cannot be longer than 100 characters.
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="login" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" th:field="*{login}" class="form-control" name="login" id="login"
                                   placeholder="Enter your Username" required="required" />
                            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Username error message</td>
                            <!--ng-minlength="4"
                                   ng-maxlength="50"
                                   ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).*$/" ng-model="regForm.login"-->

                            <!--<div ng-show="regForm.login.$dirty &amp;&amp; regForm.login.$invalid">
                                <p class="help-block"
                                   ng-show="regForm.login.$error.required">
                                    Your username is required.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.login.$error.minlength">
                                    Your username is required to be at least 4 character.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.login.$error.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.login.$error.pattern">
                                    Your username must contain at least 1 Uppercase Alphabet, 1 Lowercase Alphabet and 1
                                    Number
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" th:field="*{password}" class="form-control" name="password"
                                   id="password"
                                   placeholder="Enter your Password" required="required" />
                            <!--ng-model="regForm.password"-->
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error
                                message
                            </td>

                            <!--<div ng-show="regForm.password.$dirty &amp;&amp; regForm.password.$invalid">
                                <p class="help-block"
                                   ng-show="regForm.password.$error.required">
                                    Your password is required.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.password.$error.minlength">
                                    Your password is required to be at least 4 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="regForm.password.$error.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                            </div>-->

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="matchingPassword" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="matchingPassword"
                                       id="matchingPassword"
                                       placeholder="Confirm your Password" required="required"/>
                                <!--<td th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">
                                    Password error message
                                </td>-->
                            </div>
                        </div>
                    </div>


                    <button type="submit"
                            class="btn btn-primary btn-lg btn-block login-button">Register
                    </button>
                    <!--ng-disabled="regForm.$invalid"-->
                    <div class="login-register">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var app = angular.module("app", []);
    app.controller("myCtrl", function ($scope) {

    });
</script>

</body>
</html>