<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="/static/main.css"/>-->

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form  class="navbar-form navbar-right" th:action="@{/login}" method="post">
                <div sec:authorize="isAnonymous()" class="form-group">
                    <label for="username" class="sr-only">Username</label>:
                    <input type="text" id="username" class="form-control" name="username" placeholder="Username"/> <br/>
                </div>

                <div sec:authorize="isAnonymous()" class="form-group">
                    <label for="password" class="sr-only">Password</label>:
                    <input type="password" id="password" class="form-control" name="password" placeholder="Password"/>
                    <br/>
                </div>


                <button sec:authorize="isAnonymous()" type="submit" class="btn btn-success">Sign in</button>
                <a sec:authorize="isAnonymous()" href="/join" role="button" class="btn btn-info">Sign up</a>
                <a sec:authorize="isAuthenticated()" href="/welcome" role="button" class="btn btn-info">Home</a>
                <a sec:authorize="isAuthenticated()" href="/logout" role="button" class="btn btn-danger">Quit</a>

            </form>

        </div><!--/.navbar-collapse -->
    </div>
</nav>


<div class="jumbotron">

    <div class="alert alert-danger" th:if="${error}">
        <strong th:text="${error}">Invalid Credentials provided.</strong>
    </div>


    <div class="alert alert-success" th:if="${message}">
        <strong th:text="${message}">Logged out from {ProjectName} successfully.</strong>
    </div>

    <div class="container">
        <h1>Default credentials:</h1>
        <p>user2 : password{ROLE:USER}</p>
        <p>admin2 : password{ROLE:USER, ADMIN}</p>

    </div>
</div>

<div class="container">


    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>


</body>
</html>
